// DOK
@import "__DOK/assets/css/main.scss";
// PERSONAL
@import "utils/fonts.scss";
@import "utils/typography.scss";

:root {
  // Fonts
  --font-body: "authentic-regular", Helvetica, Arial, sans-serif;
  --font-body-italic: "authentic-regular", Helvetica, Arial, sans-serif;
  --font-body-bold: "authentic-bold", Helvetica, Arial, sans-serif;
  --font-body-bold-italic: "authentic-bold", Helvetica, Arial, sans-serif;
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  // Colors
  --action-color: #ffffff;
  --body-color: #e6ddde;
}

html {
  font-size: 18px;
  @include media("<sm") {
    font-size: 15px;
  }
}

.article__content > :not(.lg):not(.embed-container) {
  margin-left: auto;
  margin-right: auto;
}

.article__content video {
  display: block;
}
