@font-face {
  font-family: "authentic-regular";
  src: url("fonts/AUTHENTICSans-90.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "authentic-bold";
  src: url("fonts/AUTHENTICSans-130.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}