%font-base {
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 0.03em;
}

// Monospace
.toc__list--sub,
.toc__list,
.ts pre,
.ts code {
  font-family: var(--font-monospace);
  font-size: var(--size-sm);
  max-width: var(--content-max-width);
}

// size list
.ts ul {
  padding-left: 2em;
}
